section {
  padding-right: 16px;
  padding-left: 16px;
}

.container:not(.header-container, .cta-section .container) {
  border: 1.5px solid var(--primary-light);
  border-radius: 8px;
}

input, select, datalist {
  width: 100%;
  height: 44px;
  padding: 8px;
  outline: none;
  border: 2px solid var(--primary-light);
  border-radius: 8px;
}

.scripture-reference-section {
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .books-button {
      display: flex;
      justify-content: center;
      background-color: var(--primary-light);
      padding: 2px;
      border-radius: 8px;

      button {
        height: 44px;
        width: 100%;
        padding: 0 16px;
        border: none;
        background: transparent;
        border-radius: 8px;
      }

      .active {
        background-color: #fff;
      }
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    .chapter-verse {
      display: flex;
      gap: 16px;
      justify-content: center;

      > div {
        flex: 1;
      }
    }
  }
}

.difficulty-section {
  .container > div {
    display: flex;
    justify-content: center;
    gap: 16px;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 8px;
      background-color: #fff;
      border-radius: 8px;
      border: 2px solid var(--primary-light);
      font-weight: 700;
      font-size: 18px;

      small {
        font-weight: 100;
        font-size: 12px;
      }

      svg {
        width: 44px;
      }
    }
  }

  h2 {
    margin-bottom: 16px;
  }
}

.cta-section {
  border-top: 2px solid var(--primary-light);

  button {
    height: 44px;
    border-radius: 8px;
    width: 100%;
    background-color: var(--primary);
    color: #fff;
    border: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    svg {
      width: 22px;
    }
  }
}