.container {
  max-width: 1170px;
  margin: auto;
  padding: 16px;
}

main {
  padding-top: 70px;
}

#main-header {
  border-bottom: 2px solid var(--primary-light);
  width: 100%;
  position: fixed;
  background-color: #fff;
}

#main-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 16px;

  #logo {
    width: 44px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .streak {
    display: flex;
    align-items: center;
  }

  .streak span {
    font-size: 24px;
    font-weight: 700;
  }

  .streak svg {
    width: 44px;
  }
}


#main-footer {
  p {
    text-align: center;
  }

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}